.mainContainer{
    background-color: #b8e0d4;
    -fx-background-color: #b8e0d4 ; 
}
/*pour les bouton de login*/
.btnConnexion{
    background-color: green;
    -fx-background-color: green;
    -fx-pref-width:150px;
    -fx-background-radius: 20px;
    
}
.btnConnexion:hover {
    -fx-background-color: #7be27b;
}

/*pour l'icone de la fenetre login*/
.icon{
    -fx-pref-width:255px;
}

/*pour les dashbords*/
.btnMenu{
    -fx-text-fill: white;
    -fx-pref-width: 250px;
}

.btnMenu:hover{
    -fx-text-fill: white;
    -fx-background-color: #e27bb7;
    
}
.menufix{
    -fx-background-color:#194a7a;
    -fx-effect: dropshadow(gaussian, #888888, 8, 0.3, 2, 2);
}

.hboxTop{
    -fx-background-color:#194a7a;
}
.GSSD{
     -fx-text-fill: white;
     -fx-font-family: 'Arial Black';
}
